.caverns__callout {
  position: absolute;
  top: 80px;
  margin-top: -20px;
  transform: translate3d(0, -100%, 0);
  right: 20px;
  z-index: 5;

  .load-more {
    display: inline-block;
    height: 30px;
    width: 46px;
    position: relative;
    margin-right: 30px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 30px;
      width: 5px;
      display: block;
      background-color: $dusty-gray;
      top: 0;
      transition: 300ms transform;
    }

    &::before {
      transform: rotate(-48deg);
      right: 30px;
    }

    &::after {
      transform: rotate(48deg);
      right: 11px;
    }

    i {
      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 18px;
        width: 4px;
        display: block;
        background-color: $dusty-gray;
        top: 0;
        transition: 300ms transform;
      }

      &::before {
        transform: rotate(-48deg);
        right: 26px;
      }

      &::after {
        transform: rotate(48deg);
        right: 15px;
      }
    }
  }

  h6 {
    font-size: 22px;
    line-height: 1.2;
    color: $dusty-gray;
    text-transform: uppercase;
    text-align: right;
    display: inline-block;
    @extend %SeparatBold;
  }

  .logo {
    margin-left: 30px;
  }

  @media (max-width: 980px) {
    .logo {
      display: none;
    }
  }

  @media (max-width: 666px) {
    .load-more,
    h6 {
      display: none;
    }
  }
}
