.footer {
  background-color: $white;
  position: relative;
  z-index: 2;

  &__content {
    border-top: 1px solid $silver;
    color: $silver;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    text-transform: uppercase;
    @extend %SeparatBold;
  }

  @media (max-width: 768px) {
    &__content {
      font-size: 12px;
    }
  }
}
