.cta {
  cursor: pointer;

  &--container {
    position: relative;
  }

  &--button {
    display: inline-block;
    font-family: 'Separat';
    font-weight: 700;

    > a, > span {
      display: block;
      cursor: pointer;
      border: 1px solid #f64a19;
      background-color: #f64a19;
      color: #fff;
      padding: 16px 24px;
      text-align: center;
      text-transform: uppercase;
      transition: 250ms background-color, 250ms color, 250ms border;
    }

    &:hover {
      > a, > span {
        border: 1px solid #f64a19;
        background-color: #fff;
        color: #f64a19;
      }
    }

    &--inverted {
      > a, > span {
        background-color: transparent;
        color: #f64a19;
      }

      &:hover {
        > a, > span {
          background-color: #f64a19;
          color: #fff;
        }
      }
    }
  }
}
