@font-face {
  font-family: Separat;
  src: url('/fonts/Separat_700.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: Work Sans;
  src: url('/fonts/WorkSans_400.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: Work Sans;
  src: url('/fonts/WorkSans_500.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: Work Sans;
  src: url('/fonts/WorkSans_600.woff') format('woff');
  font-weight: 600;
}
