&--half-padding {
  padding: 40px 0;
}

&--half-top-padding {
  padding-top: 40px;
}

&--half-bottom-padding {
  padding-bottom: 40px;
}

&--no-padding {
  padding: 0;
}

&--no-top-padding {
  padding-top: 0;
}

&--no-bottom-padding {
  padding-bottom: 0;
}