::-webkit-scrollbar {
  display: none;
}
body {
  background-color: $haiti;
}
.section {
  background-color: $haiti;
  border-color: $haiti;
  position: relative;
  padding: $module-padding 0;
  color: $white;
  min-height: 800px;
  @import '_slants.scss';

  &--intro {
    @import '../components/_intro.scss';
  }
  &--wrapper {
    padding: 0 6.9444444444%;
    width: 100%;
    margin: 0 auto;
  }
  &--white {
    background-color: $white;
    border-color: $white;
    color: $silver;
    z-index: 2;

    .intro {
      &-title {
        color: $haiti;
      }
      &-copy {
        color: $dusty-gray;
      }
    }
  }
  &--half-padding {
    padding: $half-module-padding 0;
  }
  &--half-top-padding {
    padding-top: $half-module-padding;
  }
  &--half-bottom-padding {
    padding-bottom: $half-module-padding;
  }
  &--no-padding {
    padding: 0;
  }
  &--no-top-padding {
    padding-top: 0;
  }
  &--no-bottom-padding {
    padding-bottom: 0;
  }
  &--hero {
    position: fixed;
    min-height: 720px;
    height: 720px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;

    .section--wrapper {
      position: relative;
      z-index: 5;
      height: 720px;
      display: flex;
      align-items: center;
    }

    + .section {
      margin-top: 720px;
      padding-top: 160px;
    }

    @media (max-width: 768px) {
      position: relative;
      min-height: initial;
      height: auto;
      z-index: 1;

      .section--wrapper {
        height: auto;
      }

      + .section {
        margin-top: 60px;
        padding-top: 80px;
      }
    }
  }
  &--about,
  &:last-of-type {
    min-height: initial;
  }
  @include mq('max-width', $tablet) {
    padding: $half-module-padding 0;
  }
}
[data-sfx] {
  opacity: 0;
  transform: translate3d(0, 10px, 0);
  will-change: opacity, transform;
  transition-duration: 400ms;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.555, 0.205, 0.295, 0.975);
}
.sfx-visible,
[data-sfx-static] {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
[data-sfx-headline],
[data-sfx-paragraph],
[data-sfx-fade],
[data-sfx-mask],
[data-sfx-static] {
  transform: none;
  transition: none;
}
.line-wrapper, [data-sfx-mask] {
  position: relative;
  overflow: hidden;
  transform: none;
  transition: none;
}
.sfx-mask {
  background-color: $dusty-gray;
  position: absolute;
  display: block;
  top: 13px;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: 15;
}
.line,
.line-wrapper,
.paragraph-wrapper {
  overflow: hidden;
  white-space: nowrap;
}
