.logo {
  display: inline-block;

  svg, img {
    width: 100%;
    height: auto;
  }

  &--full {
    max-width: 145px;
    max-height: 145px;
  }

  &--eye {
    max-width: 80px;
    max-height: 80px;
  }

  &--text {
    max-width: 400px;
    max-height: 40px;
  }
}

.icon {
  display: inline-block;

  svg, img {
    width: 100%;
    height: auto;
  }

  &--video-camera {
    max-width: 20px;
    max-height: 15px;
  }
}
